{% extends 'layouts/_elements/variables.twig' %}

{# ===============
   UNIVERSAL CARD
   =============== #}

{% block content  %}

	<article class="{{ cardType }}">
		<a href="{{link}}" class="card card--{{ channel|lower }} {% if image is not defined %}card__no-image{% endif %} link" {% if image is defined %}style="background-image: url({{ image }}); background-size: cover;background-position: 50% 50%;"{% endif %}>
			<div class="card__overlay">
				<div class="card__content_wrap">
					<div class="card__content">
						<div class="card__channel-wrap">
							<h5 class="card__channel">Channel: {{ channel }}</h5>
						</div>
						{% if cardType == 'social' %}
							<p class="card__text">{{ text|striptags[:140] ~ '...' }}</p>
							{# <p class="card__author">{{ network }} @{{ author }}</p> #}
						{% elseif cardType == 'article' %}
							<h3 class="card__headline">{{ headline }}</h3>
							<p class="card__text">{{ text|striptags[:120] ~ '...' }}</p>
							<p class="card__author">By {{ author }}</p>
						{% endif %}
						<p class="card__read-more">By {{ author }}</p>
					</div>
					{# {% if image is defined %}
						<div class="card__image" style="background-image: url('{{ image }}'); background-size: cover; background-position: 50% 50%;"></div>
					{% endif %} #}
				</div>
			</div>
		</a>
	</article>
{% endblock %}
