{% set networkData = _Network.getNetworkData() %}
{% set blogData = _Blog.getBlog() %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	{# <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title> #}
	{# <link rel="home" href="{{ siteUrl }}" /> #}

	<link rel="stylesheet" href="{{networkData.templatePath}}/static/css/index.css" type="text/css" media="all">
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Open+Sans:400,600,700" rel="stylesheet">

	<style>
		body, .body, p {
			font-family: "Open Sans", sans-serif !important;
		}
		h1, h2, h3, h4, h5 {
			font-family: "Droid Serif", serif !important;
		}
	</style>
</head>

<body>
	<div id="container">
		{% include '_elements/_header.twig' %}

		<main id="content" role="main">
			{{ this.blocks['content'] | raw }}

		</main>

		{% include '_elements/_social-modal.twig' %}
		{% include '_elements/_footer.twig' %}

	</div>

	{% include '_elements/_javascript.twig' %}
</body>
</html>
