{{ use('yii/web/JqueryAsset') }}
{{ register_jquery_asset() }}

{% set networkData = _Network.getNetworkData() %}
{% set blogData = _Blog.getBlog() %}

{{ this.beginPage() }}
<!DOCTYPE html>
<!--[if lte IE 8]>
<html class="ie ie8" lang="{{_AppHelper.getLanguage()}}">
<![endif]-->
<!--[if gt IE 8]>
<html class="ie" lang="{{ _AppHelper.getLanguage() }}">
<![endif]-->
<!--[if !(IE)]><!-->
<html lang="{{ _AppHelper.getLanguage() }}">
<!--<![endif]-->

<head>
  <meta charset="{{_AppHelper.getCharset() }}" />
  <title>{{Html.encode(this.title)}}</title>
    {{ Html.csrfMetaTags | raw }}

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
    {% if networkData.favMedia | length > 0 %}
        <link rel="shortcut icon" href="{{_Media.getMediaUrl(networkData.favMedia, 80, 80)}}" type="image/x-icon" />
        <link rel="icon" href="{{_Media.getMediaUrl(networkData.favMedia, 80, 80)}}" sizes="any" type="image/svg+xml" />
    {% endif %}
    
    {% set primaryFont = networkData['styling']['fonts']['primaryFont'] %}
    {% set secFont = networkData['styling']['fonts']['secondaryFont'] %}

    {% if primaryFont != "" %}
        <link href='https://fonts.googleapis.com/css?family={{primaryFont}}:{{networkData['styling']['fonts']['primaryFontVariants']}}' rel='stylesheet' type='text/css'>
    {% endif %}
    {% if secFont != "" %}
        <link href='https://fonts.googleapis.com/css?family={{secFont}}:{{networkData['styling']['fonts']['secondaryFontVariants']}}' rel='stylesheet' type='text/css'>
    {% endif %}    

  <!--[if lte IE 8]><script type="text/javascript" src="{{networkData.templatePath}}/ie.js"></script><![endif]-->

    <link rel="stylesheet" href="{{networkData.templatePath}}/index.css" type="text/css" media="all">
    <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/js/plugins/jquery.fancybox/source/jquery.fancybox.css" />
    <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/js/plugins/jquery.noty-2.3.8/demo/animate.css" />
        
  
    {% set blogSettings = _Blog.getBlogSettings() %}
    {% if blogSettings.GoogleAnalyticsID != "" %}
        <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{blogSettings.GoogleAnalyticsID}}', 'auto');
        ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->
    {% endif %}

    {% set blogList = _Blog.getBlogList() %}
   
    {% if blogList | length > 0 %}
    <style>
        {% for blog in blogList %}
            {% if blog.featuredColor is not empty %}
                {% set blogClass = blog.name|replace({' ': ''}) %}
                .{{blogClass | lower}} {
                    border-color: {{blog.featuredColor}} !important;
                }
                .{{blogClass | lower}} .card__category {
                    color: {{blog.featuredColor}} !important;
                }
                .{{blogClass | lower}} .card__category:after {
                    background-color: {{blog.featuredColor}} !important;
                }
                .{{blogClass | lower}} .card__author {
                    color: {{blog.featuredColor}} !important;
                }
                .{{blogClass | lower}}.card__banner .card__no-image, .{{blogClass | lower}}.card__banner .card__image {
                    border-color: {{blog.featuredColor}} !important;
                }
                .{{blogClass | lower}}.card--light .card__category {
                    background-color: {{blog.featuredColor}} !important;
                    color: #ffffff !important;
                }
            {% endif %}
        {% endfor%}
    </style>
     {% endif %}
    {{ this.head() }}
</head>

<body class="body">
    {{ this.beginBody() }}
    
    <!-- Google Tag Manager -->
    {% if networkData.thirdPartyIntegrations['googleTagManager'] | length > 0 %}
        {{networkData.thirdPartyIntegrations['googleTagManager']['code'] | raw}}
    {% endif %}
        
{{ this.render('partials/_header.twig', {network: networkData, blogData: blogData}) | raw }}

{{ content | raw}}

{{ this.render('partials/_footer.twig', {networkData : networkData, blogData: blogData}) | raw }}

<div class="responsive-navigation">
    <ul class="responsive-navigation__list">
        <li class="responsive-navigation__item"><a href="{{networkData.defaultBlogUrl}}" class="responsive-navigation__link">Home</a></li>
            {% set menuItems = blogData.blogMenu %}
            {% for menuItem in menuItems %}
            <li class="responsive-navigation__item">
                <a href="{{menuItem.link |raw}}" class="responsive-navigation__link">
                    {% if menuItem.pageTitle == "" %}
                        {{menuItem.blogTitle}}
                    {% else %}
                        {{menuItem.pageTitle}}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{{ this.render('partials/_javascript.twig', {networkData : networkData}) | raw }}

<div class="SwappingHelper" style="display:none">
    <div style="width: 270px; height: 105px; padding: 3px; background-color: #FFF; max-width: 270px; max-height: 105px; overflow: hidden; z-index: 999 !important;">
        <img class="article-image" src="{{networkData.placeHolder100x100}}" style="width:97px; height: 97px; float: left;" />
        <p class="article-text" style="width: 165px; float: left; padding-left: 3px;color: #394659;font-size: 14px; font-family: Droid Serif,serif; line-height: 20px; margin-top:0px;">Dummy text  </p>
    </div>
</div>


{{ this.endBody() }}
</body>
{{ this.endPage() }}
</html>

